

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  background-color: #e4e4e4;
  position: relative;
}
.navbar{
  height: 100px;
  background-color: #e4e4e4;
}
.navbar > .container{
  padding: 20px 0;
}
.navbar-brand{
  color: black;
}
.navbar-brand h1{
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.navbar-brand h1 span{
  position: absolute;
  right: 0;
  top: 18px;
}

#navbar ul{
  margin-top: 21px;
}
#navbar ul li a {
  color: black;
  font-size: 24px;
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
    color: #e8e8e8 !important;
    background-color: #a04971;
}
.jumbotron{
  margin-top: 70px;
}
ul.skills li{
  list-style: none;
  float: left;
  font-size: 13px;
  padding: 9px;
  background: #a04971;
  margin: 7px;
  color: #efefef;
}
.me{
  width: 150px;
border-radius: 150px;
float: left;
}
.about-me{
  margin-bottom: 15px;
  font-size: 16px !important;
  font-weight: 200;
  width: 65%;
  float: right;
  text-align: justify;
}

.contact.jumbotron{
    border-radius: 0;
}
.contact img{
  float: none;
  display: block;
  margin: 30px auto;
}
.contact p{
  text-align: center;
}
.contact form label{
  font-weight: normal;
}
.contact form .form-control{
  border-radius: 0;
  padding: 12px;
}
.contact form .btn{
  background: #a04971;
  color: white;
  border-radius: 0;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}
.project img{
  display: block;
  margin: 0 auto;
}
.project img:hover{
  opacity: .5;
}
.project p{
  text-align: justify;
  margin-top: 10px;
}
.project ul{
  margin: 0;
  padding: 0;
}
.project ul li{
  list-style: none;
  float: left;
  padding: 2px 6px;
  background: #a04971;
  color: white;
  font-size: 12px;
  margin: 3px;
}
