body{
  background-color: #e4e4e4;
  position: relative;
}
.navbar{
  height: 100px;
  background-color: #e4e4e4;
}
.navbar > .container{
  padding: 20px 0;
}
.navbar-brand{
  color: black;
}
.navbar-brand:hover{
  color: #a04971;
}
.navbar-brand h1{
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.navbar-brand h1 span{
  position: absolute;
  right: 0;
  top: 18px;
}

#navbar ul{
  margin-top: 21px;
}
#navbar ul li a {
  color: black;
  font-size: 24px;
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
    color: #e8e8e8 !important;
    background-color: #a04971;
}

/* DISABLE NAVBAR COLLAPSE ON MOBILE */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}



.jumbotron{
  margin-top: 70px;
}
.jumbotron p{
  font-size: 16px;
}
ul.skills{
  padding: 0;
}
ul.skills li{
  list-style: none;
  float: left;
  font-size: 13px;
  padding: 9px;
  background: #a04971;
  margin: 7px;
  color: #efefef;
}
.me{
  width: 150px;
  border-radius: 150px;
  float: left;
}
.about-me{
  margin-bottom: 15px;
  font-weight: 200;
  width: 65%;
  float: right;
  text-align: justify;
}

.project img{
  display: block;
  margin: 0 auto;
}
.project img:hover{
  -webkit-filter: blur(2px);
  opacity: .7;
}
.project p{
  text-align: justify;
  margin-top: 10px;
}
.project ul{
  margin: 0;
  padding: 0;
}
.project ul li{
  list-style: none;
  float: left;
  padding: 2px 6px;
  background: #a04971;
  color: white;
  font-size: 12px;
  margin: 3px;
}

.contact.jumbotron{
    border-radius: 0;
}
.contact img{
  float: none;
  display: block;
  margin: 30px auto;
}
.contact p{
  text-align: center;
}
.contact form{
  text-align: center;
}
.contact form .form-group{
  text-align: left;
}
.contact form label{
  font-weight: normal;
}
.contact form .form-control{
  border-radius: 0;
  padding: 12px;
}
.contact form .btn{
  background: #a04971;
  color: white;
  border-radius: 0;
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.contact form .glyphicon{
  font-size: 26px;
  top: 10px;
  left: 15px;
}
span.glyphicon.glyphicon-ok {
    color: #49a068;
}
span.glyphicon.glyphicon-send {
    color: #4987a0;
}
span.glyphicon.glyphicon-error {
    color: #a04949;
}
@media(max-width:992px){
  h3{
    font-size: 18px;
  }
  .about-me {
    width: 73%;
  }
  .contact img {
    margin: 10px auto;
  }

}
@media(max-width:767px){
  nav.navbar {
    height: 80px;
}
  nav .navbar-header {
    float: left;
    margin-left: 6px !important;
    margin-top: -5px;
}
.navbar-brand h1 {
    font-size: 20px;
}
  #navbar{
    float: left;
  }
  #navbar ul {
      margin-top: 19px;
      margin-left: 16px !important;
  }
  #navbar ul li a {
    font-size: 20px
}
img.me {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}
p.about-me{
  width: 100%;
}
ul.skills li {
    font-size: 12px;
    padding: 7px;
    margin: 5px;
}
.project{
  margin-bottom: 80px;
  text-align: center;
}
.project p {
    padding: 10px 30px;
}
.project ul {
    padding: 0 30px;
}
h2{
  font-size: 24px;
}
}
@media(max-width:500px){
nav .navbar-header{
  margin-top: -25px;
}
nav .navbar-header h1{
    font-size: 16px;
  }
  .navbar-brand h1 span {
    top: 14px;
}
#navbar{
  width: 100%;
}
#navbar ul{
  width:100%;
  margin: 7px 0 0 !important;
  text-align: center;
}
#navbar ul >li{
  width: 33.3%;
}
#navbar ul li a {
    font-size: 16px;
    padding: 2px;
    padding: 4px 0;
}

.jumbotron p{
  font-size: 14px;
}

.project {
    margin-bottom: 95px;
}
.project p {
    padding: 10px 5px;
}
.project ul {
    padding: 0 0;
}
}
